@media screen and (min-width: 650px) {
    .inner-col p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 1600px) {

}
/*@media screen and (max-width: 1199px) {
    .logo{
        width: 170px;
        height: 64.2px;
    }
}*/

@media screen and (max-width: 991px) {
    .col-md-8{
        margin-bottom: 20px;
    }
    .logo{
        width: 191px;
        height: 40px;
        margin-top: 8px;
        margin-left: 15px;
    }
    .suggest{
        margin-right: 15px;
        margin-top: 9px;
    }
    .suggest span{
        height: 35px;
        width: 35px;
    }
    .header{
        height: 55px;
    }
    .annonces{
        margin-top: -10px;
    }
    .principal{
        margin-top: 50px;
    }
    .right-header{
        display: none;
    }
    .left-header .fb-like{
        /*margin-top: 15px;*/
        margin-top: 0;
    }
    .left-header a{
        float: none;
        display: inline-block;
    }
    .left-header{
        text-align: center;
        width: 100%;
    }
    .left-header .fb-like{
        position: absolute;
        float: none;
        right: 10px;
        top: 1px;
    }

    .scoialnet{display:none;}
}

@media screen and (max-width: 767px) {
    .formapp .fiir,.formapp .sec{
        width: 80%;
    }
    .gg, .data{
        width: 100%;
    }
    .data{
        position: absolute;
        top: 0;
        left: 0;
        padding: 7px 15px 0;
    }
    .data h3.until{
        display: none;
    }
    .data h3,div.data p{
        display: block;
        float: left;
    }
    div.data p{
        margin: 0 10px;
    }
    .timeout{
        margin: 0 10px;
        font-size: 28px;
    }
    .aplication-inner p:first-child a{
        /*margin: 0 5px 3px 0;*/
    }
    .fbshare{
        margin: 13px 5px 0 0;
    }
    .aplication-inner img{
        margin-bottom: 5px;
    }
    .annonces{
        font-size: 23px;
        padding: 5px 0 10px;
        line-height: 25px;
    }
    .annonces p span{
        font-size: 18px;
    }
}
@media screen and (max-width: 649px) {
    .col-xs-6{
        width: 100%;
    }
    .loader{
        width: 100%;
    }
    .fbshare {
        padding: 15px 10px 15px 59px;
    }
    .reclame,.col-md-8,.relative a.inner {
        margin-bottom: 4px;
    }
    .relative{
        margin-top: 4px;
    }
    .container{
        padding-left: 4px;
        padding-right: 5px;
    }
    .row {
        margin-right: -4px;
        margin-left: -4px;
    }
    a.inner{
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .data h3.left span{
        display: none;
    }
    .inner-col p{
        font-size: 18px;
    }
    .logo{
        width: 140px;
        height: 29px;
        margin-top: 10px;
    }
    .onscroll .logo{
        width: 140px;
        height: 29px;
    }
}
@media screen and (max-width: 530px) {
    .data h3.left{
        display: none;
    }
    .timeout{
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .annonces p span{
        font-size: 17px;
    }
}
@media screen and (max-width: 320px) {
}
/*  Tablet  */
@media (min-width:767px){

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: none;
    }
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: left;
    }
}


/*  Medium Desktop  */
@media (min-width:992px){

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: none;
    }
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: left;
    }
}


/*  Large Desktop  */
@media (min-width:1200px){

    /* Column clear fix */
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: none;
    }
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1){
        clear: left;
    }
}