body{
    background: rgb(229,242,247);
    font-family: 'Raleway', sans-serif;
}
p,ul,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a:hover,a:focus{
    text-decoration: none;
}
.header{
    height: 55px;/**115px;**/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #fff;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}
.left-header{
    /*float: left;*/
}
.left-header a, .left-header .fb-like{
    float: left;
}
.aplication .fb-like{
    margin-bottom: 5px;
}
.left-header .fb-like{
    margin-top: 18px;
    margin-left: 15px;
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -webkit-transition:all .3s;
}
.left-header .twtr-like{
    margin-top: 18px;
    margin-left: 15px;
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -webkit-transition:all .3s;
}
.right-header{
    float: right;
}
.logo{
    background: url("img/logo.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 244px;
    height: 51px;
    /*margin-top: 30px;
    margin-left: 10px;*/
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
/*
.suggest{
    color: #B5B3B4;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 32px;
    cursor: pointer;
    line-height: 47px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    float: left;
}
.suggest p{
    font-weight: 700;
    font-size: 18px;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -ms-transition:color .3s;
    -o-transition:color .3s;
    float: left;
    display: block;
}
.suggest:hover p{
    color: #000;
}
.suggest span{
    background: url("img/suggest_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 47px;
    height: 47px;
    display: block;
    float: right;
    margin-left: 15px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.subscribe{
    color: #B5B3B4;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 32px;
    cursor: pointer;
    line-height: 47px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    float: left;
    margin-right: 15px;
}
.subscribe p{
    font-weight: 700;
    font-size: 18px;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -ms-transition:color .3s;
    -o-transition:color .3s;
    float: left;
    display: block;
}
.subscribe:hover p{
    color: #000;
}
.subscribe span{
    background: url("img/newsletter_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 47px;
    height: 47px;
    display: block;
    float: right;
    margin-left: 15px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}**/
.annonces{
    background: #ff9f23;
    text-align: center;
    padding: 15px;
    font-size: 26px;
    position: relative;
    margin-top: -15px;
}
.annonces p{
    color: #fff;
}
.annonces p:first-child{
    margin-bottom: 10px;
}
.annonces p span{
    background: #fff;
    color: #000;
    border-radius: 35px;
    padding: 5px 15px;
    font-size: 24px;
}
.principal{
    margin-top: 57px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.close{
    position: absolute;
    right: 5px;
    top: 5px;
}
a.inner{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.15),0 0px 0.7px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.15),0 0px 0.7px rgba(0, 0, 0, 0.075);
    border:1px solid transparent;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
}
a.inner:hover{
    text-decoration: none;
    border-color: rgb(57,148,204);
    border-radius: 4px;
    transform:translate(0,-3px);
    -moz-transform:translate(0,-3px);
    -ms-transform:translate(0,-3px);
    -webkit-transform:translate(0,-3px);
}
.inner-col{
	border-style: solid; 
	border-width: 1px; 
	border-color: #ff9f23;
    background: #fff;
    border-radius: 3px;
	height: 244px;
}
.inner-col img{
    width: 100%;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.inner-col p{
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
}
a.inner:hover .inner-col p{
    color: #ff9f23;
}
.principal{
    padding-top: 15px;
    padding-bottom: 15px;
}
.aplication{
    position: relative;
    background: #fff;
    border-radius: 5px;
}
.split{
    position: absolute;
    height: 50%;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: -1;
    top: 0;
}
.aplication-inner{
    background: #FFD25F;
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 3px;
    text-align: center;
    padding: 8px 10px 5px 10px;
    position: relative;
}
.aplication-inner img{
    width: 100%;
    margin-bottom: 15px;
}
.aplication-inner .title{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}
.aplication-inner .subtitle{
    margin-bottom: 10px;
    font-size: 16px;
}
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 1em 0 1em;
    max-width: 400px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.6em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    font-size: 14px;
    margin-top: -7px;
    color: rgb(0, 0, 0);
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}
.input__field--minoru {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    color: rgb(21, 144, 195);
    font-weight: 400;
    font-size: 17px;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input__label--minoru {
    padding: 0;
    width: 100%;
    text-align: left;
}

.input__label--minoru::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 4em;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
    box-shadow: 0px 0px 0px 2px rgb(21, 79, 137);
}

.input__field--minoru:focus + .input__label--minoru {
    pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
    -webkit-animation: anim-shadow 0.3s forwards;
    animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

.input__label-content--minoru {
    padding: 0.64em 0.15em;
}
.submit-div{
    width: 100%;
    margin-top: 8px;
}
.submit{
    background: rgb(70, 98, 158);
    border: 0;
    border-radius: 5px;
    color: #fff;
    /**text-transform: uppercase;**/
    padding: 10px;
    width: 100%;
    max-width: 238px;
    font-weight: 600;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    font-size: 18px;
}
.submit:focus{
    outline: none;
}
.submit:hover{
    background: rgb(56, 79, 128);
}
.fa-sort-desc{
    position: absolute;
    right: 20px;
    font-size: 22px;
    top: 6px;
}
p.error{
    width: 100%;
    max-width: 800px;
    background: rgb(124, 123, 123);
    color: #fff;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 20px;
    display: none;
}
p.error i{
    font-size: 18px;
    margin-right: 10px;
}
.note{
    position: absolute;
    left: 9px;
    bottom: 5px;
    font-size: 9px;
    font-family: verdana;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 10px;
    padding-right: 10px;
}
.formapp .fiir{
    width: 70%;
}
.formapp .sec{
    width: 30%;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
h2.title{
    text-align: center;
    margin-bottom: 15px;
}
.right-inner img{
    width: 100%;
}
/*.right .aplication:first-child{
	margin-top: 45px;
}*/
.reclame{
    margin-bottom: 20px;
	
}
.relative{
    margin-top: 25px;
}
.quiz-container{
    width: 100%;
    float: left;
}
.quiz-container img{
    width: 100%;
}
div.quiz-container {
    margin-bottom: 30px;
    background: rgb(244, 244, 244);
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 1px rgb(237, 237, 237),0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 1px rgb(237, 237, 237),0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
}
div.quiz-container:last-child{
    margin-bottom: 0;
}
div.quiz-container p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    max-width: 80%;
    margin: 10px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(98, 98, 98);
}
div.quiz-container a:hover{
    text-decoration: none;
}
.relative a.inner{
    margin-top: 0;
    margin-bottom: 20px;
}
/**.onscroll{
    height: 55px;
}
.onscroll .left-header .fb-like{
    margin-top: 15px;
}
.onscroll .logo{
    margin-top: 8px;
    width: 191px;
    height: 40px;
}
.onscroll .suggest,.onscroll .subscribe{
    margin-top: 9px;
    line-height: 40px;
}
.onscroll .suggest span,.onscroll .subscribe span {
    height: 35px;
    width: 35px;
}**/
.ovv {
    background: rgb(255,240,0);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    -webkit-transition:all .3s;
}
a .ovv p{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    white-space: inherit;
    width: 100%;
    font-size: 18px;
}
.quiz-container:hover .ovv{
    opacity: 1;
}
a .ovv span{
    background: rgb(26,158,241);
    padding: 5px 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom-left-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0dcecb;
    z-index: 9;
    top: 0;
    display: none;
    left: 0;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    text-align: center;
}
.loader .profile{
    width: 120px;
    float: left;
    margin-right: 20px;
}
.loader .profile img{
    max-width: 100%;
    border-radius: 10px;
}
.loader .step{
    float: left;
    background-color: #fff;
    border-radius: 10px;
}
.loader .preload{
    background: url("img/fbload.gif");
    width: 64px;
    height: 64px;
    display: block;
    margin: 10px auto 0;
}
.loader .currentstatus{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}
.loader .icons{
    display: inline-block;
    min-width: 265px;
}
.fbshare{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 89, 152);
    border-color: rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px 30px 15px 85px;
    border-radius: 3px;
    transition: all .3s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 13px;
}
.vk{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: #597BA5;
    border-color: rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px 30px 15px 85px;
    border-radius: 3px;
    transition: all .3s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 13px;
}
.vk:focus,.fbshare:focus{
    text-decoration: none;
    color: #fff;
}
.fbshare i,.vk i{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    line-height: 60px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.fbshare:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(48, 72, 123);
}
.vk:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #3E5979;
}
.whitebg{
    background: rgb(183,220,227);
    padding: 0px;
}
.likes{
    /*	margin-bottom: 20px;*/
}
.tryrecent{
    background: #C820CB;
}
.tryrecent span{
    background: rgb(159, 12, 161);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    position: relative;
    padding: 3px 0;
}
.tryrecent p{
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 13px 10px 6px 10px;
    font-size: 20px;
    line-height: 19px;
    max-width: 90%;
}
.tryrecent p a{
    color: rgb(254, 252, 4);
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
}
.tryrecent p a:hover{
    color: #000;
}
.tryrecent span::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(159, 12, 161);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}
.oversubmit {
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 100;
    background: rgba(143, 137, 132, 0.7);
}
.input {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
    background: rgba(255, 255, 255, 0.1);
    color: #000;
    padding-left: 10px;
    border: 0;
}
.formapp .input{
    background: transparent;
}
.input:focus{
    background: rgb(255,255,255);
}
.submit-pop input[type="submit"]{
    background: rgb(30, 140, 190);
    color: rgb(255, 255, 255);
    display: block;
    border:0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 30px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    line-height: 10px;
    margin: 0 auto;
}
.submit-pop {
    margin: 0 auto;
    text-align: left;
    max-width: 400px;
    width: 100%;
    position: relative;
    padding: 30px;
    margin-top: 10px;
    background-color: rgb(85, 52, 69);
    color: rgba(255, 255, 255, 0.5);
}
.submit-pop label{
    width: 100%;
}
.submit-pop i.close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    text-shadow:none;
}
.submit-pop i.close:hover{
    color: rgb(255,255,255);
}
span.message p {
    display: block;
    float: left;
    margin: 0;
    line-height: 30px;
    padding-left: 10px;
}
span.message {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: none;
}
span.error {
    background: rgb(204, 44, 44);
}
span.succes {
    background: rgb(141, 213, 30);
}
span.message i {
    float: left;
    line-height: 30px;
    font-size: 20px;
}
.subscribe,.suggest{
    display: none;
}
.meniu-mobile{
    display: none;
    position: absolute;
    left: 10px;
    top: 15px;
    cursor: pointer;
}
.meniu-mobile i{
    font-size: 25px;
}
.meniu-mobile .nav-mobile{
    position: absolute;
    background: rgb(0, 142, 188);
    top: 38px;
    left: -10px;
    border: 2px solid rgb(255, 255, 255);
    display: none;
    list-style: none;
}
.meniu-mobile .nav-mobile a{
    color: #fff;
    width: 100%;
    display: block;
    padding: 8px 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    text-align: left;
    font-weight: 600;
}
.meniu-mobile .nav-mobile a:hover{
    background: #606060;
}
.meniu-mobile .nav-mobile li:last-child a{
    border-bottom: 0;
}
.contact {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}
.contact label{
    width: 100%;
    margin-bottom: 10px;
}
.contact label input,.contact label textarea{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    background: rgb(241, 241, 241);
    border: 0;
    font-size: 14px;
}
.contact label textarea{
    height: 120px;
}
.privacy{
    text-align: left;
    padding: 10px;
}
.tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-right-color: rgba(51, 51, 51, 0.9);
}
.tooltip-right:before, .tooltip-right:after {
    bottom: 50%;
    left: 100%;
}
.tooltip:before, [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    content: "";
}
[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    pointer-events: none;
}
.tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}
.tooltip-right:after {
    bottom: 50%;
    left: 100%;
}
.tooltip:after, [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 235px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.6);
    transform: translate(10px,40%);
    -webkit-transform: translate(10px,40%);
    -moz-transform: translate(10px,40%);
    -ms-transform: translate(10px,40%);
}
[data-tooltip]:before, .tooltip:before, .tooltip-top:before {
    margin-left: -2px;
    margin-bottom: -7px;
    border-right-color: rgba(51, 51, 51, 0.9);
}
[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    pointer-events: none;
}
/*.fbshare:hover{
	margin-left: -70px;
}*/
.fbshare.tooltip-right:hover:after,.fbshare.tooltip-right:hover:before{
    visibility: visible;
    opacity: 1;
}
.relative-survoid .ovv {
    background: rgb(127, 179, 27);
}
.relative-survoid a .ovv p {
    color: rgb(217, 253, 176);
}
a .ovv i{
    background: rgb(26, 158, 241);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom-left-radius: 7px;
    font-style: normal;
    text-transform: uppercase;
}
.relative-survoid a .ovv i{
    background: rgb(227,203,4);
    color: rgb(65,61,27);
    letter-spacing: 0px;
}
p.analyze{
    font-size: 17px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,50%);
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -webkit-transform: translate(-50%,50%);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.slang{
    width: 16px;
    height: 11px;
    display: block;
    position: absolute;
    left: 6px;
    top: 4px;
}
/*.slang.en{
    background: url(img/icon_en.gif);
}
.slang.ro{
    background: url(img/icon_ro.gif);
}
.slang.de{
    background: url(img/icon_de.gif);
}
.slang.it{
    background: url(img/icon_it.gif);
}
.slang.fr{
    background: url(img/icon_fr.gif);
}
.slang.es{
    background: url(img/icon_es.gif);
}
.slang.br{
    background: url(img/icon_br.gif);
}
.slang.ru{
    background: url(img/icon_ru.gif);
}
.slang.pl{
    background: url(img/icon_pl.gif);
}
.slang.jp{
    background: url(img/icon_jp.gif);
}
.slang.tr{
    background: url(img/icon_tr.gif);
}
.slang.ar{
    background: url(img/icon_ar.gif);
}
.slang.kr{
    background: url(img/icon_kr.gif);
}
.slang.nl{
    background: url(img/icon_nl.gif);
}
.languange{
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 10px;
    background: rgb(255, 255, 255);
}
.selectlang li a {
    display: block;
    padding: 2px 13px 2px 25px;
    font-size: 13px;
    position: relative;
    color: rgb(41, 41, 41);
    text-align: left;
}
.selectlang{
    list-style: none;
}
.languange .selectlang li{
    padding: 3px 0;
    border-bottom: 1px solid rgba(41,41,41,0.1);
    display:none;
}
.selectlang li.active{
    display: list-item;
}
.selectlang li:first-child,.selectlang li:last-child{
    border-bottom: none;
}
.selectlang li.active i {
    position: absolute;
    right: 4px;
    top: 5px;
}*/

.right-header .selectlang li{
    float: left;
}
.right-header .selectlang{
    padding: 24px 0;
    transition:padding .3s;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    -ms-transition:padding .3s;
}
.right-header .sel-row {
    padding-top: 0;
    float: right;
}
.onscroll .right-header .selectlang {
    padding: 4px 0;
}
.onscroll .right-header .sel-row{
    padding-top: 0;
}
.game{
    display: none;
    padding-top: 20px;
}
.gamestart .title{
    font-size: 30px;
    font-weight: 500;
}
.gamestart p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.game-wrapper{
    width: 100%;
}
.game-wrapper div{
    width: 50%;
}
.game-wrapper div{
    padding: 3px;
    position: relative;
    float: left;
}
.game-wrapper div .inner{
    width: 100%;
    cursor: pointer;
}
.game-wrapper div .inner img{
    width: 100%;
    margin-bottom: 0;
}
.game-wrapper div .inner span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 600;
}
button.start{
    background: rgb(26, 158, 241);
    border: 0;
    color: rgb(255, 255, 255);
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}
h2.ruls{
    color: rgb(181, 133, 7);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gg,.data{
    width: 50%;
    float: left;
}
.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}
.pregunta {
    font-size: 200px;
}
@keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}

@-moz-keyframes pulse2 {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

}

@-webkit-keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}

@-ms-keyframes "pulse2" {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }

}
.timeout{
    font-family: Arial;
    font-size: 40px;
    color: rgb(41,41,41);
}
.final{
    display: none;
}
.gamestart p.error{
    color: #fff;
}
div.data h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
div.data h3.time{
    padding: 10px 0;
}
div.data p{
    font-size: 20px;
    margin: 5px 0;
}
span.correct{
    color: rgb(0, 128, 0);
    font: Arial;
}
span.wrong{
    background: rgb(255, 255, 0);
    padding: 0 5px;
    font: Arial;
}
.replay{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 182, 44);
    border-color: rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px 30px;
    border-radius: 3px;
    transition: all .3s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 13px;
    margin-left: 10px;
}
.replay:hover{
    background: rgb(39, 157, 39);
    color: #fff;
}
.final h3,.final h2{
    margin: 10px 0;
}
.yellow{
    background: rgb(255, 255, 0);
    padding: 0 5px;
    font: arial;
}
.finalscore{
    color: green;
    font: arial;
}
.gshare{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 89, 152);
    border-color: rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px 30px 15px 85px;
    border-radius: 3px;
    transition: all .3s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 13px;
}
.gshare:focus{
    text-decoration: none;
    color: #fff;
}
.gshare i{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    line-height: 60px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.gshare:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(48, 72, 123);
}
.tweet{
    position: relative;
    float: left;
    height: 58px;
    background: rgb(84, 171, 238);
    width: 58px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}
.tweet:focus{
    color: #fff;
}
.tweet:hover{
    background: rgb(9, 130, 184);
    color: #fff;
}
.tweet i{
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 32px;
}
.sharebutons{
    display: inline-block;
    margin: 0 auto;
}
.sharebutons .fbshare{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}
.secsh{
    margin-top: 5px;
}
.goo{
    background: transparent;
    border: 0;
}
.newgo{
    margin-bottom: 20px;
}
.footer{
    text-align: center;
}
.footer ul{
    display: inline-block;
    list-style: none;
}
.footer ul li{
    float: left;
    margin-right: 10px;
}
.footer ul li a{
    color: #6B6B6B;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -webkit-transition:all .3s;
    font-family: cursive;
}
.footer ul li a:hover{
    color: #000;
}
.fb-comments {
    max-width: 100%;
    width: 100% !important;
}
.fb-comments span[style] {
    max-width: 100%;
    width: 100% !important;
}
.fb-comments iframe{
    width: 100% !important;
}
p.retry a {
    border: 1px solid green;
    padding: 10px 20px;
    margin: 6px;
    display: inline-block;
    font-weight: bold;
    border-radius: 3px;
    transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    color: green;
}
p.retry i{
    color: green;
    transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -webkit-transition:all .3s;
}
p.retry a:hover{
    background-color: green;
    color: #fff;
}
p.retry a:hover i{
    color: #fff;
}

.navbar-nav > li a {
    border-right: 1px solid #d3d1d4;
    border-left: 1px solid #d3d1d4;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

p.radio a {
    background-color: #fafafa;
    border-radius: 20px;
    display: block;
    font-size: 2em;
    line-height: 1.5;
    margin: 0 auto 20px;
    padding: 10px;
    text-align: center;
    width: 80%;
}

p.radio a.selected {
    background-color: #1bff0d;
}

.ads_responsive_1 { width: 170px; height: 125px; }
						@media(min-width: 300px) { .ads_responsive_1 { width: 300px; height: 250px; } }
						@media(min-width: 728px) { .ads_responsive_1 { width: 728px; height: 90px; } }
						@media(min-width: 992px) { .ads_responsive_1 { width: 300px; height: 600px; } }